<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- 
        If True, this application is ran as a service.
        This application will also install the service and start it automatically,
        if not installed already.
    -->
    <add key="isRunAsService" value="true" />
    
    <!-- COM/Serial Port to listen on -->
    <add key="comport" value="COM5" />
    
    <!-- COM/Serial Baud Rate. Valid value: integer -->
    <add key="combaudrate" value="115200" />
    
    <!-- COM/Serial Stop Bits. Valid Values: https://msdn.microsoft.com/en-us/library/system.io.ports.stopbits -->
    <add key="comstopbits" value="One" />
    
    <!-- COM/Serial Parity. Valid Values: https://msdn.microsoft.com/en-us/library/system.io.ports.parity -->
    <add key="comparity" value="None" />
    
    <!-- COM/Serial Data Bits. Valid value: integer -->
    <add key="comdatabits" value="8" />
    
    <!-- COM Handshake. Valid Values: https://msdn.microsoft.com/en-us/library/system.io.ports.handshake  -->
    <add key="comhandshake" value="None" />
    
    <!-- The TCP Port -->
    <add key="tcpport" value="12800" />
    
    <!-- 
          If COM connection failed, this is the interval to retry COM 
          connection in milliseconds.
          Comment out or set to -1 to disable retry logic
    -->
    <add key="retryOnComFailms" value="10000" />
    
    <!-- Comment out to disable logging -->
    <add key="logfilefolder" value="."/>
    
    <!-- Comment out to disable greet -->
    <add key="greet" value="ComSocketBridge by Lucky Mallari (2016)" />
    
  </appSettings>
</configuration>